{
    "workbench.colorTheme": "Catppuccin Mocha",
    "redhat.telemetry.enabled": false,
    "continue.enableTabAutocomplete": false,
    "git.openRepositoryInParentFolders": "always",
    "editor.fontFamily": "CaskaydiaCove Nerd Font, Regular",
    "python.defaultInterpreterPath": "/Users/jacobschreuder/.config/python_environments",
    // "terminal.integrated.fontFamily": "monospace"
}