# Custom Bash prompt
source ~/.git-prompt.sh
PROMPT_COMMAND='PS1_CMD1=$(__git_ps1 " (%s)")'; PS1='\[\e[38;5;170m\]\T\[\e[0m\]> \[\e[38;5;141m\]\u\[\e[0m\]@\[\e[38;5;141m\]\H\[\e[0m\] \W\[\e[38;5;111m\]${PS1_CMD1}\[\e[0m\] \[\e[38;5;170m\]\$\[\e[0m\] '
GIT_PS1_SHOWDIRTYSTATE=1

# Aliases
alias ll='ls -ltr'
alias l='ls -1'
alias gp='git push'
alias gc='git commit -m'
alias jacob='git branch jacob && git checkout jacob'
alias cat='bat'
alias vim='nvim'
alias vi='vim'

# Set Path
PATH="/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/Applications/VMware Fusion.app/Contents/Public:/opt/homebrew/bin:/opt/homebrew/sbin:/Applications/kitty.app/Contents/MacOS"


# Environment Variables
BAT_THEME="Catppuccin Mocha"
export BASH_SILENCE_DEPRECATION_WARNING=1
eval "$(/opt/homebrew/bin/brew shellenv)"

# Final Presentation
clear
pfetch
